PORT=8787
STACKS_NETWORK=testnet
STACKS_NODE_URL=https://api.testnet.hiro.so
STACKS_CONTRACT_ADDRESS=ST126WM9ZYGYSNFM2YDV11MS0XMCJ91Q20HPNZY4T
STACKS_CONTRACT_NAME=test-sbtc-faucet
STACKS_FAUCET_MNEMONIC=replace with your 12 or 24 word faucet mnemonic
# STACKS_FAUCET_PRIVATE_KEY=
FAUCET_UI_AMOUNT=1
